<div class="tasks">
  <ul class="tasks__list">
    <li class="tasks__item">
      <a [routerLink]="['/tasks', '1']" class="tasks__link">Task #1: Color Flipper</a>
    </li>
    <li class="tasks__item">
      <a [routerLink]="['/tasks', '2']" class="tasks__link">Task #2: Counter</a>
    </li>
    <li class="tasks__item">
      <a [routerLink]="['/tasks', '3']" class="tasks__link">Task #3: Review carousel</a>
    </li>
    <li class="tasks__item">
      <a [routerLink]="['/tasks', '4']" class="tasks__link">Task #4: Responsive navbar</a>
    </li>
    <li class="tasks__item">
      <a [routerLink]="['/tasks', '5']" class="tasks__link">Task #5: Sidebar</a>
    </li>
    <li class="tasks__item">
      <a [routerLink]="['/tasks', '6']" class="tasks__link">Task #6: Modal</a>
    </li>
    <li class="tasks__item">
      <a [routerLink]="['/tasks', '7']" class="tasks__link">Task #7: FAQ page</a>
    </li>
    <li class="tasks__item">
      <a [routerLink]="['/tasks', '8']" class="tasks__link">Task #8: Restaurant menu page</a>
    </li>
    <li class="tasks__item">
      <a [routerLink]="['/tasks', '9']" class="tasks__link">Task #9: Video background</a>
    </li>
    <li class="tasks__item">
      <a [routerLink]="['/tasks', '10']" class="tasks__link">Task #10: Navigation bar on scroll
      </a>
    </li>
  </ul>
</div>
