$desk: 1400px;
$tab: 660px;

@mixin desk {
  @media (max-width: $desk) {
    @content;
  }
}

@mixin tab {
  @media (max-width: $tab) {
    @content;
  }
}

.dishes-card {
  display: flex;
  align-items: flex-start;
  column-gap: 15px;
  width: 650px;
  

  &__image {
    border: $color-accent 6px solid;
    border-radius: var(--border-radius-small);
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
    align-items: flex-start;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 70%;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
      height: 1px;
      background-color: lightgrey;
      margin-top: 10px;
    }
  }

  &__text {
    padding-block: 20px;
    line-height: 1.4;
  }

  &__price {
    color: $color-accent;
    font-weight: 400;
  }

}
