@import '../../../public/styles/_mixins.scss';
@import '../../../public/styles/_media.scss';

.nav {
  display: flex;

  &__list {
    font-weight: 500;
    margin-left: auto;
    display: flex;
    font-size: 40px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    height: 48px;
    position: relative;

    @include hover {
      color: #e72c83;
    }
  }
}
