<app-header/>
<section class="content container">
  <div class="container__inner">
    <h2 class="section__title">FAQ</h2>
    <article class="faq">

      <div class="faq__question" #faqquestion>
        <h3 class="faq__title">What Documents Are Required for a Credit Card Application?</h3>
        <svg
          class="faq__icon"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          #faqicon
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
      </div>

      <div class="faq__answer visually-hidden" #faqanswer>
        <p>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cupiditate est et eum harum illo libero officia officiis quae quis! Blanditiis consequuntur dignissimos ducimus excepturi officia quasi reiciendis suscipit, voluptate.</span><span>At distinctio doloremque excepturi exercitationem facere fuga fugit hic laborum, numquam qui suscipit, tempora tenetur ut, vero voluptatem. Accusamus accusantium cumque, cupiditate minus porro quas quibusdam repellat totam. Atque, ipsum!</span>
        </p>
      </div>
    </article>
    <article class="faq">

      <div class="faq__question" #faqquestion>
        <h3 class="faq__title">What Documents Are Required for a Credit Card Application?</h3>
        <svg
          class="faq__icon"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          #faqicon
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
      </div>

      <div class="faq__answer visually-hidden" #faqanswer>
        <p>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cupiditate est et eum harum illo libero officia officiis quae quis! Blanditiis consequuntur dignissimos ducimus excepturi officia quasi reiciendis suscipit, voluptate.</span><span>At distinctio doloremque excepturi exercitationem facere fuga fugit hic laborum, numquam qui suscipit, tempora tenetur ut, vero voluptatem. Accusamus accusantium cumque, cupiditate minus porro quas quibusdam repellat totam. Atque, ipsum!</span>
        </p>
      </div>
    </article>
    <article class="faq">

      <div class="faq__question" #faqquestion>
        <h3 class="faq__title">What Documents Are Necessary for a Mortgage Application?</h3>
        <svg
          class="faq__icon"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          #faqicon
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"
          />
        </svg>
      </div>

      <div class="faq__answer visually-hidden" #faqanswer>
        <p>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cupiditate est et eum harum illo libero officia officiis quae quis! Blanditiis consequuntur dignissimos ducimus excepturi officia quasi reiciendis suscipit, voluptate.</span><span>At distinctio doloremque excepturi exercitationem facere fuga fugit hic laborum, numquam qui suscipit, tempora tenetur ut, vero voluptatem. Accusamus accusantium cumque, cupiditate minus porro quas quibusdam repellat totam. Atque, ipsum!</span>
        </p>
      </div>
    </article>
  </div>
</section>

