:root {
  --color-dark: #191A23;
  --color-dark-alt: #292a32;
  --color-light: #FFF;
  --color-accent: #ffe81f;
  --color-ng-gradient: linear-gradient(to right, #e72c83, #a742c6);
  --color-gray: #F3F3F3;
  --color-gray-alt: #898989;

  --border: 1px solid var(--color-dark-alt);
  --border-radius: 14px;
  --border-radius-small: 7px;
  --border-radius-large: 45px;
  --shadow: 0 5 0 0 var(--color-dark);

  --font-family-base: 'Poppins', sans-serif;

  --container-width: 1600px;
  --container-padding-x: 20px;

  --section-padding-y: 10px;

  --input-height: 59px;
  --button-height: 68px;
  --button-width: 160px;

  --transition-duration: 0.2s;
}
