<div class="hero">
  <video
    class="hero__video"
    type="video/webm"
    src="./images/task9-images/wotlk.webm"
    controls
    muted
    autoplay
    loop
  >
  </video>
  <nav class="hero__nav">
    <ul class="hero__nav-list">
      <li class="hero__nav-item">
        <a class="hero__nav-link" href="/">Back to tasks</a>
      </li>
    </ul>
  </nav>
  <div class="content">
    <img class="content__image"
         src="./images/task9-images/logo_na.webp"
         alt=""
         width="" height="" loading="lazy"
    >
    <h1 class="content__title">The Lich King Has Returned</h1>
    <div class="content__action-links action-links">
      <a class="action-links__link" href="/">Subscribe</a>
      <a class="action-links__link action-links__link--transparent" href="/">Shop upgrades</a>
    </div>
  </div>
  <button class="hero__switch-button switch-button hidden-mobile"></button>
</div>


