<div class="hero">
  <video
    class="hero__video hidden-mobile"
    src="./images/task9-images/wotlk.webm"
    autoplay
    muted
    loop
    #vid
  >
    <source
      src="./images/task9-images/wotlk.webm"
    >
  </video>
  <nav class="hero__nav">
    <ul class="hero__nav-list">
      <li class="hero__nav-item">
        <a class="hero__nav-link" href="/">Back to tasks</a>
      </li>
    </ul>
  </nav>
  <div class="content">
    <img class="content__image"
         src="./images/task9-images/logo_na.webp"
         alt=""
         width="" height="" loading="lazy"
    >
    <h1 class="content__title">The Lich King Has Returned</h1>
    <div class="content__action-links action-links">
      <a class="action-links__link action-links__link--solid" href="/">Subscribe</a>
      <a class="action-links__link action-links__link--transparent" href="/">Shop upgrades</a>
    </div>
  </div>
  <button class="hero__switch-button switch-button hidden-mobile"
          type="button"
          (click)="togglePlay()"
          [class]="{ 'switch-button--stop': !isPlaying, 'switch-button--play': isPlaying }"
  ></button>
</div>


